#grocery{
    border: 1px solid transparent;
    width: 100%;
    height: 60px;
    margin-top: 50px;
    margin-top: 20px;
}
#grocery>p{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
#Furnishing{
    border: 1px solid transparent;
    width: 98%;
    margin: auto;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}
#Furnishing>div{
    
    border: 1px solid transparent;
    color: rgb(133, 131, 130);
    
    
}
